$fontstatck: Helvetica;
$primiryColor : #333;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mybutton{
    border-radius: 88px;
    width: 318px;
    height: 150px;
    border: none;
    position: relative;
}

.mybutton__background{
    border-radius: 88px;
    background-image: linear-gradient(#88E8FC 78%, #0DBE51) ;
    width: 100%;
    height: 100%;
    padding: 5px 0 0 5px;
    transition: all 1s ease;
}

.mybutton__background.dark{
    background-image: linear-gradient(#202A2C 78%, #5B625E);
    padding: 5px 0 0 54%;
    transition: all 1s ease;
}

.mybutton__circle {
    // padding: 5px;
    background-image: radial-gradient(circle, #FFEA08, #E8FD6E);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    transition: all 1s ease; /* Анимируем свойство left */
}

.mybutton__circle.dark {
    background-image: radial-gradient(circle, #628E89, #BEF9FD);
    
}

