body {
  position: relative;
  height: 100vh;
  overflow: hidden; 
  background: linear-gradient(#414F52, #585656);
  
}

body::before {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#BEF4FF, #9DFFC3);
  z-index: -1; 
  transition: opacity 1s ease; 
}

p{
  transition: color 1s ease;
}

p.dark{
  color: white;
}

body.dark::before {
  opacity: 0; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
